body{
  background-color: rgb(255, 215, 236);
}

img{
  object-fit: fill;
  height: 250px;
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p{
  font: 1.4em "lucida handwriting";
  color: #0377fd;
  font-weight: 700;
  text-shadow: 0 0 18px;
  text-align: center;
}

.i{
  font: 24px "lucida handwriting";
  color: #cf0909;
  font-weight: bolder;
  text-shadow: 0 0 24px;
  text-align: center;
}
.button{
    padding: 30px;
    margin: 20px;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

.comic-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #ff5252;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 5px 5px 0px #000;
  transition: all 0.3s ease;
  cursor: pointer;
}

#green{
    background-color: rgb(87, 201, 12);
}
#green:hover{
  background-color: #fff;
  color: rgb(87, 201, 12);
  border: 2px solid rgb(87, 201, 12);
  box-shadow: 5px 5px 0px rgb(87, 201, 12);

}
.comic-button:hover {
  background-color: #fff;
  color: #ff5252;
  border: 2px solid #ff5252;
  box-shadow: 5px 5px 0px #ff5252;
}

#green:active, .comic-button:active {
  background-color: #fcf414;
  box-shadow: none;
  transform: translateY(4px);
}
